<template>
  <div>
    <b-alert v-if="errors == 1 " show variant="danger">
      <a class="alert-link">Datos Incorrectos</a>.
  </b-alert>
  <b-alert v-if="errors == 2" show variant="success">
      <a class="alert-link">Iniciando</a>
  </b-alert>
    <b-form @submit="submit" method="post">
      <b-form-group label="Nombre de usuario">
        <b-form-input type="text" v-model="form.user" required placeholder="Ingrese Nombre">
        </b-form-input>
      </b-form-group>
      <b-form-group label="Contraseña">
        <b-form-input type="password" v-model="form.pass" required placeholder="Ingrese Contraseña">
        </b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Iniciar</b-button>
    </b-form>
  </div>
</template>
<script>
  export default {
    name: 'formlogin',
    data() {
      return {
        errors: 0,
        form: {
          user: '',
          pass: '',
        }
      }
    },
    methods: {
      submit(evt) {
        evt.preventDefault();
        this.$http.post('/login', this.form)
          .then(function(res) {
              if (res.body == 0) {
                this.errors = 1;
              }else{
                this.$root.userFlag = true;
                this.errors = 2;
                
                const id = res.body
                this.$session.start();
                this.$session.set('id',id)
                this.$session.get('id')
                this.$router.push('/profile/'+this.$session.get('id'));
              }
          }.bind(this))
      }
    }
  }
</script>     
