<template>
  <div>
    <b-alert v-if="errors == 1 " show variant="danger">
      Dejese ahi <a class="alert-link">solito crece</a>.
    </b-alert>
    <b-alert v-if="errors == 3 " show variant="danger">
      <a class="alert-link">Usuario y/o correo ya registrado, intente de nuevo</a>.
    </b-alert>
    <b-alert v-if="errors == 4" show variant="success">
      <a class="alert-link">Registro Completo</a>
    </b-alert>
    <b-form @submit="submit" method="post">
      <b-form-group label="Nombre">
        <b-form-input type="text" v-model="form.name">
        </b-form-input>
      </b-form-group>
      <b-form-group label="Nombre de usuario">
        <b-form-input type="text" v-model="form.user">
        </b-form-input>
      </b-form-group>
      <b-form-group label="Dirección de Correo">
        <b-form-input type="email" v-model="form.email">
        </b-form-input>
      </b-form-group>
      <b-form-group label="Contraseña">
        <b-form-input type="password" v-model="form.pass">
        </b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Enviar</b-button>
    </b-form>
  
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
  </div>
</template>

<script>
  export default {
    name: 'formcb',
    data() {
      return {
        errors: 0,
        form: {
          email: '',
          name: '',
          user: '',
          pass: ''
        },
        status: 'connected',
        authResponse: {
          accessToken: '...',
          expiresIn: '...',
          reauthorize_required_in: '...',
          signedRequest: '...',
          userID: '...'
        }
      }
    },
    methods: {
      submit(evt) {
        evt.preventDefault();
        this.$http.post('/registrar', this.form)
          .then(function(res) {
            if (res.body == 0) {
              this.errors = 1;
            } else if (res.body == 1) {
              this.errors = 2;
            } else if (res.body == 2) {
              this.errors = 3;
            } else {
              this.errors = 4;
              this.form.email = '';
              this.form.name = '';
              this.form.user = '';
              this.form.pass = '';
            }
          }.bind(this))
      }
    }
  }
</script>