<template>
  <div>
    <b-navbar toggleable="md" type="light" variant="dark">
      <b-navbar-brand href="/home">
        <img src="../assets/titulo.png" />
      </b-navbar-brand>
      <b-navbar-nav class="ml-auto">
  
        <b-nav-item v-if="!isLogued"  class="white" right><a v-b-modal.modalreg>Registrarse</a></b-nav-item>
        <b-nav-item v-if="!isLogued" class="white" right><a v-b-modal.modallogin>Iniciar Sesión</a></b-nav-item>
        <a :href="'/profile/'+this.isLogued"><b-img v-if="isLogued" :src="require('../assets/profile-pictures/'+users.img)" style="border-radius: 50%;" width="80%" height="80%" class="m-1"/></a>
        
      </b-navbar-nav >
      <b-dropdown v-if="isLogued" right split :text="users.usuario">
      <b-dropdown-item v-if="isLogued" @click="cerrar">Cerrar Sesión</b-dropdown-item>
    </b-dropdown>
    </b-navbar>
  </div>
</template>

<script>
  export default {
    name: 'navcb',
    data() {
      return {
        info: 'hola',
        isLogued: '',
        parameter: {
          id: this.$route.params.idUser
        },
        users: []
      }
    },
    created: function() {      
      this.isLogued =this.$session.get('id');
      const id = [this.$session.get('id')];
            this.$http.post('/profile', id)
                .then(function(res) {
                    this.users = res.body;
                }.bind(this))
    },
    methods: {
      cerrar(){
        this.$session.remove('id');
        this.$router.push('/');
        setTimeout('document.location.reload()', 0);
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .white a:hover {
    color: white;
  }
  
  .white {
    list-style: none;
  }
  
  .white a {
    color: white;
  }
  
  .white {
    color: white;
  }
</style>
