<template>
    <div id="perfil">
        <b-row class="justify-content-md-center">
            <b-col col lg="6">
                <b-alert v-if="errors == 1 " show variant="success">
                    <a class="alert-link">Actualización completa</a>
                </b-alert>
                <b-alert v-if="errors == 2 " show variant="danger">
                    <a class="alert-link">Usuario y/o correo ya registrado, intente de nuevo</a>.
                </b-alert>
                <b-alert v-if="errors == 3" show variant="danger">
                    No deje <a class="alert-link">campos vacios</a>.
                </b-alert>
                <b-form @submit="submit" method="post">
                    <b-form-group label="Nombre">
                        <b-form-input type="text" :value="form.name" v-model="form.name">
                        </b-form-input>
                    </b-form-group>
                    <b-form-group label="Nombre de usuario">
                        <b-form-input type="text" :value="form.user" v-model="form.user">
                        </b-form-input>
                    </b-form-group>
                    <b-form-group label="Dirección de Correo">
                        <b-form-input disabled type="email" :value="form.email" v-model="form.email">
                        </b-form-input>
                    </b-form-group>
                    <b-form-group label="Contraseña">
                        <b-form-input type="password" :value="form.pass" v-model="form.pass">
                        </b-form-input>
                    </b-form-group>
                    <b-button type="submit" variant="primary">Actualizar</b-button>
                </b-form>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    export default {
        name: 'perfil',
        data() {
            return {
                errors: 0,
                parameter: {
                    id: this.$route.params.idUser
                },
                form: {
                    email: '',
                    name: '',
                    user: '',
                    pass: '',
                    id: this.$route.params.idUser
                }
            }
        },
        methods: {
            submit(evt) {
                evt.preventDefault();
                this.$http.post('/update', this.form)
                    .then(function(res) {
                        console.log(res.body);
                        //setTimeout(function, milliseconds);
                        if (res.body == 0) {
                            this.errors = 1; //actualizacion completa
                            setTimeout('document.location.reload()', 1000);
                        } else {
                            if (res.body == 1) {
                                this.errors = 2; //ya registrado
                            } else {
                                this.errors = 3; //campols cvacios
                            }
                        }
                    }.bind(this))
            }
        },
        created() {
            const id = [this.$session.get('id')];
            this.$http.post('/profile', id)
                .then(function(res) {
                    this.form.email = res.body.email;
                    this.form.name = res.body.nombre;
                    this.form.user = res.body.usuario;
                    this.form.pass = res.body.clave;
                }.bind(this))
        }
    }
</script>
<style>
    #perfil{
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-top-right-radius: 0.25rem;
        border-top-left-radius: 0.25rem;
    }
</style>
