<template>
    <div id="posts">
        <b-button variant="primary" :value="item.id" :to="'/foro/'+item.id">Entrar</b-button>
    </div>
</template>
<script>
    export default {
        name: 'posts'
    }
</script>
