<template>
    <div id="foro">
        <navcb></navcb>
        <b-container class="bv-example-row">
            <b-row class="text-center">
                <b-col id="new">
                    <b-btn v-if="isLogued" size="lg" variant="primary" v-b-modal.modal1>Agregar un nuevo hilo</b-btn>
                    <b-alert show v-if="!isLogued" variant="warning">Inicia sesion o registrate</b-alert>
                </b-col>
                <b-col cols="8" id="posts">
                    <h1 v-if="this.$route.params.idForo == 1"><img width="50%" src="./assets/angular.png"></h1>
                    <h1 v-if="this.$route.params.idForo == 2"> <img width="30%" src="./assets/c.png"></h1>
                    <h1 v-if="this.$route.params.idForo == 3"> <img width="50%" src="./assets/java.png"></h1>
                    <h1 v-if="this.$route.params.idForo == 4"> <img width="50%" src="./assets/git.png"></h1>
                    <h1 v-if="this.$route.params.idForo == 5"> <img width="40%" src="./assets/js.png"></h1>
                    <h1 v-if="this.$route.params.idForo == 6"> <img width="40%" src="./assets/php.png"></h1>
                    <h1 v-if="this.$route.params.idForo == 7"><br><img width="50%" src="./assets/python.png"></h1>
                    <h1 v-if="this.$route.params.idForo == 8"> <img width="40%" src="./assets/vue.png"> </h1>
                    <h1 v-if="this.$route.params.idForo == 9"> <br><img width="50%" src="./assets/redes.png"></h1>
                    <div v-for="(con,index) in contenidos" :key="index">
                        <b-card :title="con.titulo" sub-title="">
                            <p class="card-text">
                                {{con.contenido}}
                            </p>
                            <b-btn v-b-toggle.collapseA.collapseB>Comentarios</b-btn>
                            <b-collapse id="collapseA" class="mt-2">
                                <b-card no-body>
                                    
                                </b-card><br>
                                <b-card>
                                    <b-form @submit="submit" method="post" :value="con.id">
                                        <b-form-group  label="Agrega un comentario">

                                            <b-form-textarea required v-model="comentario.cuerpo" placeholder="Texto del contenido">
                                            </b-form-textarea>
                                        </b-form-group><br>
                                        <b-button type="submit" variant="success">Guardar</b-button>
                                    </b-form>
                                </b-card>
                            </b-collapse>
                        </b-card>
                    </div>
                </b-col>
            </b-row>
        </b-container>
        <b-modal id="modal1" title="Bootstrap-Vue" hide-footer>
            <b-form @submit="submit" method="post">
                <b-input required v-model="form.titulo" placeholder="Agrega Titulo" /><br>
                <b-form-textarea required v-model="form.contenido" placeholder="Texto del contenido">
                </b-form-textarea><br>
                <b-button type="submit" variant="primary">Guardar</b-button>
            </b-form>
        </b-modal>
        <b-modal centered title="Registro" ref="registro" id="modalreg" hide-footer>
            <formcb></formcb>
        </b-modal>
        <b-modal centered size="sm" title="Iniciar Sesión" id="modallogin" hide-footer>
            <formlogin></formlogin>
        </b-modal>
    </div>
</template>

<script>
    import navcb from './components/nav.vue'
    import formcb from './components/form.vue'
    import formlogin from './components/formlogin.vue'
    export default {
        name: 'foro',
        data: function() {
            return {
                users: [],
                pameter: {
                    id: this.$route.params.idForo
                },
                form: {
                    titulo: '',
                    contenido: '',
                    id: this.$route.params.idForo
                },
                comentario: {
                    idhilo:'def',
                    cuerpo: '',
                    status: '0',
                    usuarios_id: this.$session.get('id')
                },
                contenidos: [],
                isLoged: ''
            }
        },
        created() {
            this.isLogued = this.$session.get('id');
            this.$http.post('/getposts', this.pameter)
                .then(function(res) {
                    this.contenidos = res.body;
                }.bind(this))

            /*this.$http.post('/get_comentarios', this.pameter)
                .then(function(res) {
                    this.contenidos = res.body;
                }.bind(this))*/
        },
        methods: {
            submit(evt) {
                this.comentario.idhilo = evt.target.value
                console.log(evt.target);
                evt.preventDefault();
                if (this.comentario.cuerpo == "") {
                    this.$http.post('/new', this.form)
                        .then(function() {
                            this.titulo = "";
                            this.contenido = "";
                            setTimeout('document.location.reload()', 0);
                        }.bind(this))
                } else {
                    this.$http.post('/new_comentario', this.comentario)
                        .then(function(res) {
                            console.log(res.body);
                            setTimeout('document.location.reload()', 0);
                        }.bind(this))
                }
    
            }
        },
        components: {
            navcb,
            formcb,
            formlogin
        }
    
    }
</script>

<style>
    #new {
        background-color: antiquewhite;
    }
    
    #posts {
        background-color: bisque;
    }
</style>
