<template>
  <div id="principal">
    <navcb></navcb>
    <section id="s1">
    </section>

    <section>
      <b-card-group deck class="mb-3" v-for="(foro, index) in foros" v-bind:key="index">
        <b-card v-for="item in foro" v-bind:key="item.id" :bg-variant="item.color" text-variant="white" class="text-center temblar">
          <img :src="require('./assets/'+item.img)" width="80px">
          <p class="card-text">{{item.descripcion}}</p>
          <router-link to="/foro/:id">
            <b-button variant="primary" :value="item.id" :to="'/foro/'+item.id">Entrar</b-button>
          </router-link>
        </b-card>
      </b-card-group>
    </section>

    <b-modal centered title="Registro" ref="registro" id="modalreg" hide-footer>
      <formcb></formcb>
    </b-modal>
    <b-modal centered size="sm" title="Iniciar Sesión" id="modallogin" hide-footer>
      <formlogin></formlogin>
    </b-modal>
  </div>
</template>

<script>
  import navcb from './components/nav.vue'
  import formcb from './components/form.vue'
  import formlogin from './components/formlogin.vue'
  export default {
    name: 'principal',
    foros: '',
    data() {
      return {
        foros: []
      }
    },
    mounted() {
      this.$http.get('/pruebas')
        .then(function(res) {
          this.foros = res.data
        }.bind(this))
    },
    created:function(){
      this.$root.mensaje = 'adios kvin u.u'
      console.log(this.$root.userFlag);
    },
    components: {
      navcb,
      formcb,
      formlogin
    }
  }
</script>

<style>
  section {
    width: 97%;
    min-height: 70vh;
    margin:0 auto;
    background-size: cover;
    background-attachment: fixed;
  }

  #s1 {
    background-image: url("assets/muchas.png");
    background-color:white;
    margin: auto;
  }
</style>