<template>
    <div id="profile">
        <navcb></navcb>
        <b-container class="bv-example-row">
            <b-row class="text-center">
                <b-col cols="4">
                    <img style="border-radius: 50%;"  width="50%" height="95%" class="m-1" :src="require('./assets/profile-pictures/'+users.img)" />
                    <b-btn size="sm" variant="outline-success" v-b-modal.myModal>Cambiar</b-btn>
                </b-col>
                <b-col cols="8">
                    <div>
                        <b-card>
                            <h2>Hola <br>{{users.nombre}}</h2>
                            <p class="card-text">
                            </p>
                            <a href="#" class="card-link"></a>
                            <b-link href="#" class="card-link"></b-link>
                        </b-card>
                    </div>
                </b-col>
            </b-row>
        </b-container>
        <b-container class="bv-example-row">
            <b-row class="text-center">
                <b-col cols="4">
    
                    <b-list-group>
                        <b-list-group-item>
                            <router-link :to="'/profile/'+users.id+'/perfil/'+ users.id">Perfil</router-link>
                        </b-list-group-item>
                        <b-list-group-item>
                            <router-link :to="'/profile/'+users.id+'/posts/'+ users.id">posts</router-link>
                        </b-list-group-item>
                    </b-list-group>
                </b-col>
                <b-col cols="8">
                    <router-view></router-view>
                </b-col>
            </b-row>
        </b-container>
        <b-modal centered size="" id="myModal" title="Cambiar foto de perfil" hide-footer>
            <b-alert v-if="errors == 1 " show variant="success">
                    <a class="alert-link">Actualización completa</a>
                </b-alert>
                <b-alert v-if="errors == 2 " show variant="danger">
                    <a class="alert-link">Error a actualizar</a>
                </b-alert>
            <div class="row">
                    <div class="col-md-4 pb-2" v-for="variant in ['avatar.png','avatar(1).png','avatar(2).png','avatar(3).png','avatar(4).png','girl.png','girl(1).png']" v-bind:key="variant">
                        <img style="border-radius: 50%;" width="70%" height="50%" class="m-1" :src="require('./assets/profile-pictures/'+variant)" />
                        <b-button size="size" @click="select" variant="success" :value="variant">Seleccionar</b-button> <br><br><br><br>
                    </div>

</div>
        </b-modal>
    </div>
</template>

<script>
    import navcb from './components/nav.vue'
    import formcb from './components/form.vue'
    import formlogin from './components/formlogin.vue'
    export default {
        name: 'profile',
        data() {
            return {
                errors: '',
                parameter: {
                    id: this.$route.params.idUser
                },
                nombre: '',
                email: '',
                img: '',
                users: []
            }
        },methods:{
            select(evt){
                evt.preventDefault();
                var img = {img: evt.target.value, id: this.parameter.id};
                this.$http.post('/actualizar', img)
                .then(function(res) {
                    if(res.body==1){
                        this.errors = 1;
                    setTimeout('document.location.reload()', 1000);
                    }else{
                        this.errors = 2;
                    }
                    
                }.bind(this))
            }
        },
        created() {
            const id = [this.$session.get('id')];
            this.$http.post('/profile', id)
                .then(function(res) {
                    this.users = res.body;
                }.bind(this))
        },
        components: {
            navcb,
            formcb,
            formlogin
        }
    }
</script>


